BOT_TOKEN="BOT TOKEN"
ADMINS=ADMINS IDS
CHANNELS=CHANNEL (IF EMPTY - NO CHANNEL)

DATABASE_NAME='DATABASE NAME'
DATABASE_USER='DATABASE USER'
DATABASE_PASSWORD='DATABASE PASSWORD'
DATABASE_HOST='DATABASE HOST'
DATABASE_PORT=DATABASE PORT